[submodule "start/ale"]
	path = start/ale
	url = https://github.com/w0rp/ale.git
[submodule "start/asyncrun.vim"]
	path = start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "start/completor.vim"]
	path = start/completor.vim
	url = https://github.com/maralla/completor.vim.git
[submodule "start/python-mode"]
	path = opt/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "opt/vim-colors-solarized"]
	path = opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "opt/molokai"]
	path = opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "start/vim-gutentags"]
	path = start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "start/ack.vim"]
	path = start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "start/vim-latex"]
	path = start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
