[submodule "start/ale"]
	path = start/ale
	url = https://github.com/w0rp/ale.git
[submodule "start/asyncrun.vim"]
	path = start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "start/ack.vim"]
	path = start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "opt/vim-colors-solarized"]
	path = opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "opt/molokai"]
	path = opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "opt/vim-solarized8"]
	path = opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "start/LeaderF"]
	path = start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "start/vimtex"]
	path = start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "start/ultisnips"]
	path = start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "start/auto-pairs"]
	path = start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "start/coc.nvim"]
	path = start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "start/vim-snippets"]
	path = start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
